#container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.home-img {
    max-width: 300px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}
