<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Create an account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">
        Create an account</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top">Create Account</ion-button>
  </div>
</ion-content>